
DevExecutor/Executor/obj/Debug/Executor.csproj.CopyComplete
DevExecutor/Executor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DevExecutor/Executor/obj/Debug/Executor.csproj.CoreCompileInputs.cache
DevExecutor/Executor/bin/Debug/Executor.exe
*.xml
DevExecutor/.vs/DevExecutor/v15/.suo
DevBpm/packages/BpmonlineSDK.7.11.2/lib/Terrasoft.Core.dll
*.nupkg
DevBpm/DevBpm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DevBpm/DevBpm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DevBpm/DevBpm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DevBpm/DevBpm/obj/Debug/DevBpm.dll
DevBpm/DevBpm/obj/Debug/DevBpm.pdb
*.cache
DevBpm/DevBpm/bin/Debug/Terrasoft.Core.dll
DevBpm/DevBpm/bin/Debug/System.Spatial.dll
DevBpm/DevBpm/bin/Debug/System.Collections.Immutable.dll
DevBpm/DevBpm/bin/Debug/Microsoft.Data.Services.dll
DevBpm/DevBpm/bin/Debug/Microsoft.Data.Services.Client.dll
DevBpm/DevBpm/bin/Debug/Microsoft.Data.OData.dll
DevBpm/DevBpm/bin/Debug/Microsoft.Data.Edm.dll
*.pdb
*.lock
*.ide
*.ide-shm
*.ide-wal
DevBpm/DevBpm/bin/Debug/DevBpm.dll
*.CopyComplete
DevBpm/DevBpm/obj/Debug/DevBpm.csproj.FileListAbsolute.txt
DevExecutor/Executor/bin/Debug/CommandLine.dll
DevExecutor/Executor/obj/Debug/Executor.csproj.FileListAbsolute.txt
DevExecutor/Executor/obj/Debug/Executor.exe
DevExecutor/Executor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DevExecutor/Executor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DevExecutor/Executor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DevExecutor/packages/CommandLineParser.1.9.71/lib/net35/CommandLine.dll
DevExecutor/packages/CommandLineParser.1.9.71/lib/net40/CommandLine.dll
DevExecutor/packages/CommandLineParser.1.9.71/lib/net45/CommandLine.dll
DevExecutor/packages/CommandLineParser.1.9.71/readme.txt
DevBpm/.vs/DevBpm/v15/.suo
