<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
	<appSettings>
		<add key="Loader" value="https://test.bpmonline.com" />
		<add key="Login" value="User" />
		<add key="Password" value="Password" />
		<add key="LibraryOriginalPath" value="C:\Projects\DevBpm\bin\Debug\DevBpm.dll" />
		<add key="LibraryCopyPath" value="\Temp\DevBpm.dll" />
		<add key="LibraryType" value="DevBpm.Sandbox" />
	</appSettings>
</configuration>
